<%= provide :title, '' %>
<%= provide :description, '' %>
<%= provide :keywords, '' %>

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <%= link_to '#' do %>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <h3 class='bold'>
                  <i class="fa-brands fa-discord"></i>
                </h3>
                <h4 class="bold'">Discord</h4>
              </div>
            </div>
          </div>
        <% end %>

        <% link_to '#' do %>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <h3 class='bold'>
                  <i class="fa-brands fa-discord"></i>
                </h3>
                <h4 class="bold'">Events</h4>
              </div>
            </div>
          </div>
        <% end %>

        <%= link_to '#' do %>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <h3 class='bold'>
                  <i class="fa-brands fa-discord"></i>
                </h3>
                <h4 class="bold'">Openings</h4>
              </div>
            </div>
          </div>
        <% end %>

        <%= link_to '#' do %>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <h3 class='bold'>
                  <i class="fa-brands fa-discord"></i>
                </h3>
                <h4 class="bold'">Blog</h4>
              </div>
            </div>
          </div>
        <% end %>

        <%= link_to '#' do %>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <h3 class='bold'>
                  <i class="fa-brands fa-discord"></i>
                </h3>
                <h4 class="bold'">Referral program</h4>
              </div>
            </div>
          </div>
        <% end %>

        <%= link_to '#' do %>
          <div class="col-md-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <h3 class='bold'>
                  <i class="fa-brands fa-discord"></i>
                </h3>
                <h4 class="bold'">About</h4>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>