<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Rubypolsce</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://kit.fontawesome.com/5165849ba2.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <body class="<%= controller.controller_name %>">
    <%= render partial: 'layouts/header' %>
      <%= yield %>
    <%= render partial: 'layouts/footer' %>
  </body>
</html>
